body {
    height: 100%;
    margin: 0;
}

.buttons_container {
    display: flex;
    position: absolute;
    top: 0;
    padding: 10px;
    gap: 12px;
    border-radius: 0 0 3px 0;
}
.buttons_container button {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 3vh;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;

    background: #6E6D70;
    box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.1), inset 0 0.5px 0.5px rgba(255, 255, 255, 0.5), 0 0 0 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.buttons_container button:disabled {
    opacity: 0.6;
    pointer-events: none;
}

.buttons_container button:active {
    box-shadow: inset 0 0.8px 0 -0.25px rgba(255, 255, 255, 0.2), 0 0.5px 1px rgba(0, 0, 0, 0.1), 0 0 0 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

#mute.icon,#play.icon {
    background-repeat: no-repeat;
    width: 3vh;
    background-size: 65%;
    background-position: center;
}

#mute {
    background-image: url(../images/audio.png);
}
#mute.muted {
    background-image: url(../images/no-audio.png);
}

#play {
    background-image: url(../images/play.png);
}
#play.paused {
    background-image: url(../images/pause.png);
}
