body {
    height: 100%;
    margin: 0;
}

.buttons_container {
    position: absolute;
    top: 0;
    display: flex;
    gap: 4px;
    background-color: grey;
    padding: 10px;
    border-radius: 0 0 3px 0;
}

.buttons_container button {
    border-radius: 7px;
    background-color: dimgrey;
    color: white;
}